{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - E-Commerce</title>
    <link rel="stylesheet" href="{% static 'css/cadastrar.css' %}">
</head>
<body>
    {% include "loja/header.html" %}
    <h1>Cadastro</h1>

    <div class="register-container">
        <form action="" method="POST">
            {% csrf_token %}
            
            <!-- Nome Completo -->
            <div class="form-group">
                <label for="name">Nome Completo</label>
                {{form.nome_completo}}
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                {{form.email}}
            </div>

            <!-- Telefone -->
            <div class="form-group">
                <label for="telefone">Telefone</label>
                {{form.telefone}}
            </div>

            <!-- Data de Nascimento -->
            <div class="form-group">
                <label for="data_nascimento">Data de Nascimento</label>
                {{form.data_nascimento}}
            </div>

            <!-- CPF -->
            <div class="form-group">
                <label for="cpf">CPF</label>
                {{form.cpf}}
            </div>

            <!-- Endereço -->
            <div class="form-group">
                <label for="endereco">Endereço</label>
                {{form.endereco}}
            </div>

            <!-- Número -->
            <div class="form-group">
                <label for="numero">Número</label>
                {{form.numero}}
            </div>

            <!-- Complemento -->
            <div class="form-group">
                <label for="complemento">Complemento</label>
                {{form.complemento}}
            </div>

            <!-- Bairro -->
            <div class="form-group">
                <label for="bairro">Bairro</label>
                {{form.bairro}}
            </div>

            <!-- Cidade -->
            <div class="form-group">
                <label for="cidade">Cidade</label>
                {{form.cidade}}
            </div>

            <!-- Estado -->
            <div class="form-group">
                <label for="estado">Estado</label>
                {{form.estado}}
            </div>

            <!-- CEP -->
            <div class="form-group">
                <label for="cep">CEP</label>
                {{form.cep}}
            </div>

            <!-- Senha -->
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>

            <!-- Confirmação de Senha -->
            <div class="form-group">
                <label for="confirm-password">Confirme sua Senha</label>
                <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirme sua senha" required>
            </div>

            <!-- Termos e Condições -->
            <div class="form-group terms">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">Eu aceito os <a href="#">termos e condições</a></label>
            </div>

            <!-- Erro de senha -->
            <p class="error" id="password-error">As senhas não coincidem!</p>

            <!-- Botão de Cadastro -->
            <button type="submit" class="register-btn">Cadastrar</button>
        </form>
    </div>
    {% include "loja/footer.html" %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
