
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho - E-Commerce</title>
    <link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
   
</head>
<body>
    {% include "loja/header.html" %}
        <div class="cart-container">
            <h1>Carrinho de Compras</h1>
            <div class="cart-item">
                <div class="item-image">
                    <img src="https://via.placeholder.com/80" alt="Imagem do Produto">
                </div>
                <div class="item-details">
                    <h2>Produto 1</h2>
                    <p>Descrição breve do produto.</p>
                    <p>Quantidade: <input type="number" value="1" min="1"></p>
                    <p>Preço: R$ 50,00</p>
                    <button class="remove-btn">Remover</button>
                </div>
            </div>
            
            <div class="cart-item">
                <div class="item-image">
                    <img src="https://via.placeholder.com/80" alt="Imagem do Produto">
                </div>
                <div class="item-details">
                    <h2>Produto 2</h2>
                    <p>Descrição breve do produto.</p>
                    <p>Quantidade: <input type="number" value="2" min="1"></p>
                    <p>Preço: R$ 100,00</p>
                    <button class="remove-btn">Remover</button>
                </div>
            </div>

            <div class="total-container">
                <h3>Total: R$ 150,00</h3>
                <button class="checkout-btn">Finalizar Compra</button>
            </div>
        </div>
    {% include "loja/footer.html" %}

    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>
