<div class="container">
    
    {% for categoria in categorias %}
        <h1>{{ categoria.nome }}</h1>
    {% endfor %}
    <!-- Product List -->
    <div class="product-list">
        {% for produto in produtos%}
            <div class="product-item">
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                <h2>{{ produto.nome}}</h2>
                <p> R$ {{ produto.preco}}</p>
                <button class="btn">Add ao carrinho</button>
            </div>
        {% endfor %}
    
    </div>