{% extends "base.html" %}
{% block content %}
<div class="flex justify-center mx-auto">
    <h1 class="font-bold text-xl">CADASTRE-SE</h1>
</div>
<div class="flex justify-center mx-auto max-w-screen-md">
    <form method="POST">
        {% csrf_token %}
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold text-gray-900">Preencha as seguintes informações:</h2>
                <p class="mt-1 text-sm text-gray-600">Você está prestes a se tornar mais um cliente especial da #lojaBh</p>
        
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <!-- Campo Nome Completo -->
                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Nome completo</label>
                        <div class="mt-2">
                            {{form.nome_completo}}
                        </div>
                    </div>
        
                    <!-- Campo Email -->
                    <div class="sm:col-span-3">
                        <label for="email" class="block text-sm font-medium text-gray-900">Email</label>
                        <div class="mt-2">
                            {{ form.email }}
                        </div>
                    </div>
        
                    <!-- Campo Telefone -->
                    <div class="sm:col-span-4">
                        <label for="telefone" class="block text-sm font-medium text-gray-900">Telefone</label>
                        <div class="mt-2">
                            {{ form.telefone }}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Data de nascimento</label>
                        <div class="mt-2">
                            {{form.data_nascimento}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">CPF</label>
                        <div class="mt-2">
                            {{form.cpf}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Endereço</label>
                        <div class="mt-2">
                            {{form.endereco}}
                        </div>
                    </div>


                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">número</label>
                        <div class="mt-2">
                            {{form.numero}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Complemento</label>
                        <div class="mt-2">
                            {{form.complemento}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Bairro</label>
                        <div class="mt-2">
                            {{form.bairro}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Cidade</label>
                        <div class="mt-2">
                            {{form.cidade}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">Estado</label>
                        <div class="mt-2">
                            {{form.estado}}
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label for="nome" class="block text-sm font-medium text-gray-900">CEP</label>
                        <div class="mt-2">
                            {{form.cep}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6 flex items-center justify-center gap-x-6">
            <button type="button" class="text-sm font-semibold text-gray-900">Cancel</button>
            <button type="submit" class="font-bold py-2 px-4 rounded text-red-900">
                CADASTRE-SE
            </button>
            
        </div>
    </form>
</div>

  {% endblock content %}

